* {
margin: 0;
padding: 0;
font-family:'Copperplate', Papyrus, fantasy;
}

.container {
    width: 50%;
    height:400px;
    margin: 50px auto;
    padding: 50px;
    background-color:lightskyblue;
    border-radius: 10px;
    border: 2px solid black;
}

.restart {
    display: none;
    padding: 10px;
    width: 120px;
    background-color:steelblue;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.player-buttons {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.button-choice {
    margin-left: 50px;
    padding: 10px;
    width: 120px;
    background-color:steelblue;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.button-choice:first-child {
    margin-left: 0;
}


.winner {
    text-align: center;
    margin-top: 80px;
    font-size: 25px;
    
}

.scores {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 25px;
}

.player-score {
    margin-bottom: 20px;
}

.computer-score {
    margin-bottom: 20px;
}